* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row {
  max-width: 996px;
  margin: 2rem auto;
  display: flex;
  justify-content: space-around;
}

.column {
  text-align: center;
}

img.pokeball {
  max-width: 100px;
  margin: 0 auto 1rem;
  display: block;
}

button {
  border: none;
  border-radius: 0.25rem;
  font-size: 1.25rem;
  color: white;
  background-color: gray;
}

button:focus {
  outline: none;
}

.column:nth-of-type(1) img.pokeball {
  transform: rotate(-0.1turn);
}

.column:nth-of-type(3) img.pokeball {
  transform: rotate(0.1turn);
}

button:active {
  transform: translateY(0.3em);
}
