.row,
.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.col-6 {
  width: calc(100% / 2);
}

.col-3 {
  width: calc(100% / 4);
}

p,
a {
  font-family: "Avenir", sans-serif;
  text-decoration: none;
  font-size: 0.9em;
  margin: 5px;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tiempos Headline", serif;
  font-weight: normal;
  margin: 5px;
}

img {
  width: 100%;
}

.logo {
  display: flex;
  width: 8em;
  align-items: center;
}

button {
  font-family: "Avenir", sans-serif;
  color: white;
  background-color: #2a4463;
  border: none;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  width: fit-content;
  height: fit-content;
  font-size: 0.9em;
}

button:hover {
  background-color: #192a3f;
  transition: 300ms;
}

.constrained {
  width: 100%;
  max-width: 1200px;
}

.more-constrained {
  width: 100%;
  max-width: 600px;
}

/* HEADER */

.header.section {
  background-color: white;
  border-bottom: rgb(230, 230, 230) solid 1px;
}

.header > .constrained {
  display: flex;
  justify-content: space-between;
  padding: 1em 2.5em;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30em;
}

.nav-links > a {
  color: gray;
}

.nav-links > a:hover {
  color: #2a4463;
  text-decoration: underline;
  transition: 300ms;
}

a.active-link {
  font-weight: bold;
  color: #2a4463;
}

/* BANNER */

.banner.section {
  background-color: white;
  justify-content: center;
}

.banner > .constrained {
  display: flex;
  align-items: center;
  height: 50%;
  background-position: right;
  background-repeat: none;
  background-size: cover;
  position: relative;
  color: white;
  border: 2.5em solid white;
}

.home.banner > .constrained {
  background-image: linear-gradient(rgba(110, 110, 110, 0.4), rgba(110, 110, 110, 0.4)), url(images/hero.jpg);
  min-height: 30em;
}

.product.banner > .constrained {
  background-image: linear-gradient(rgba(110, 110, 110, 0.4), rgba(110, 110, 110, 0.4)), url(images/product/product-header.jpg);
  min-height: 30em;
}

.implementation.banner > .constrained {
  background-image: linear-gradient(rgba(110, 110, 110, 0.4), rgba(110, 110, 110, 0.4)), url(images/implementation/implementation-header.jpg);
  min-height: 30em;
}

.banner-content {
  margin: 50px;
}

.banner-content > p {
  margin: 10px 5px 20px 5px;
}

.banner button {
  padding: 0.8em 2.5em;
}

/* INFO */

.info.section {
  background-color: #fafafa;
  border-bottom: rgb(230, 230, 230) solid 1px;
}

.info > .constrained {
  color: #6d6d6d;
  flex-direction: column;
  padding: 2.5em;
}

.info-header {
  flex-direction: column;
  align-items: center;
  padding: 0 25% 0 25%;
  text-align: center;
  margin-bottom: 1.2em;
}

.locations > p {
  text-align: center;
  font-size: 1em;
  margin: 0.8em;
}

/* PRODUCT INFO */

.product-info.section {
  background-color: #F8F9FA;
  border-bottom: rgb(230, 230, 230) solid 1px;
}

.product-info > .constrained {
  color: #6d6d6d;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-info .col-6 {
  margin: 2.5em;
}

.product-2.product-info.section {
  background-color: white;
}

/* CALCULATE ROI */

.roi.section {
  background-color: white;
  border-bottom: rgb(230, 230, 230) solid 1px;
}

.roi > .more-constrained {
  color: #6d6d6d;
}

.roi-step {
  margin: 2em;
}

.roi h2 {
  text-align: center;
  margin: 2em 0;
}

.roi h6 {
  font-family: "Avenir", sans-serif;
  font-size: 1.1em;
}

/* CTA */

.cta.section {
  background-color: white;
}

.cta > .constrained {
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 2.5em;
  color: #6d6d6d;
}

.cta button {
  padding: 0.8em 2.5em;
}

/* FOOTER */

.footer-1 {
  background-color: #515351;
  padding: 5em 2.5em;
}

.footer-1 .logo {
  margin-bottom: 25px;
}

.footer-1 p {
  margin: 0;
  color: white;
  font-size: 0.8em;
}

.footer-1 h5 {
  font-family: "Avenir", sans-serif;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
}

.footer-1 a {
  display: block;
  color: white;
}

.footer-1 a:hover {
  text-decoration: underline;
  transition: 300ms;
}

.footer-2 {
  background-color: #ebebeb;
  padding: 1em 2.5em;
}

.footer-2 a {
  color: #6d6d6d;
}

.footer-2 a:hover {
  text-decoration: underline;
  transition: 300ms;
}
